<form action="/post-email" method="post">
    Email nguoi gui: <input type="email" name="emailgui" class="form-control">
    Email nguoi nhan: <input type="email" name="emailnhan" class="form-control">
    Noi dung: <textarea name="noidung" id="" cols="30" rows="10" class="form-control"></textarea>
    Chu de: <input type="text" name="chude">
    <button type="submit" class="btn btn-primary">Send</button>
</form>